@import "../../theme/styles/theme.scss";
@import "../../theme/styles/mixins.scss";

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 2rem;
  background-color: $white;
  
  @include responsive(sm) {
    width: 80%;
  }
}

.login-title {  
  font-size: 2rem;
}

.input-section,
.login-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 820px;
}

::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-outline-width: 1px;
    --mdc-outlined-text-field-focus-outline-width: 2px;
    --mdc-outlined-text-field-container-shape: 0;
    border-radius: 0;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-left: 16px;
}

::ng-deep .mdc-checkbox {
  padding-left: 0 !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__background {
  left: 0 !important;
}

.mat-mdc-unelevated-button.mat-mdc-button-base {
  padding: 30px 0;
}

.button-section {
  margin: 1rem 0;
}

.btn-enter {
  width: 100%;
}

.button-section .btn-enter{
  background-color: $secondary-100;
  width: 100%;
  color: $white;
  border-radius: 0;
  height: 3rem;
  padding: 0;
}

.button-section .btn-enter:hover{
  background-color: $secondary-300;
  transition: ease-in-out 0.3s;
}

.forgot-password {
  color: $secondary-500;
}

.outline-btn {
  border: none;
  background: transparent; 
  color: $secondary-100;
  padding: 10px;
}