<div class="login-container">
  <div class="login-wrapper">
    <div class="login-title-container">
        <h1 class="login-title">Login</h1>
    </div>
    <form class="input-section">
      <mat-form-field appearance="outline" class="email-input">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="password-input">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
      <div class="login-section">
        <mat-checkbox formControlName="isRememberEnabled" class="checkbox"
          >Lembrar de mim</mat-checkbox
        >
      </div>
      <div class="button-section">
        <button mat-flat-button class="btn-enter" type="submit">Entrar</button>
      </div>
    </form>
    <div class="forgot-password-container">
      <a class="forgot-password">Esqueceu a senha?</a>
    </div>
  </div>
</div>
