// Primária
$primary-100: #f8f8f7;
$primary-300: #f0f0ef;
$primary-500: #373439;
$primary-700: #846552;
$primary-900: #4e3c30;

// Secundária
$secondary-100: #4a6da7;
$secondary-300: #4187cb;
$secondary-500: #e38686;
$secondary-700: #a15f5f;
$secondary-900: #5f3838;

/* Cores de apoio */
$gray-100: #dfdfdf;
$gray-300: #b9b9b9;
$gray-500: #979797;
$gray-700: #6b6b6b;
$gray-900: #3f3f3f;

$success-100: #cdead3;
$success-300: #90dfa1;
$success-500: #23c046;
$success-700: #1b7c18;
$success-900: #104a0e;

$white: #fff;
$black: #000;