@import "../../theme/styles/theme.scss";
@import "../../theme/styles/mixins.scss";

.home-container {
  display: flex;
  flex-direction: row;

  @include responsive(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100vh;
}

.main-content h1 {
  text-align: center;
}
.main-content p {
  text-align: center;
}

.image-content {
  background: url(../../../assets/images/letter.jpg) no-repeat center center
    fixed;
  background-size: cover;
  background-color: rgba(107, 159, 223, 0.081);
  width: 60%;
}
