<div class="login-container">
  <div class="login-wrapper">
    <div class="text-info">
        <div class="login-title-container">
            <div class="arrow-back">
                <a [routerLink]="'/auth/login'">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </div>
            <h1 class="login-title">Redefinir Senha</h1>
        </div>
        <p class="subtitle"> Por favor, preencha o campo abaixo para redefinir sua senha. </p>
    </div>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="input-section">
      <mat-form-field appearance="outline" class="email-input">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="login" />
        <mat-error *ngIf="emailForm.get('login')?.hasError('required')">
          E-mail é obrigatório
        </mat-error>
        <mat-error *ngIf="emailForm.get('login')?.hasError('pattern')"
          >E-mail incorreto</mat-error
        >
      </mat-form-field>
      <div class="button-section">
        <button mat-flat-button class="btn-enter" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
