<div class="login-container">
  <div class="login-wrapper">
    <div class="text-info">
      <div class="login-title-container">
        <div class="arrow-back">
          <a tabindex="0" (click)="goBack()" (keydown.enter)="goBack()"
          tabindex="0">
            <i class="fa-solid fa-chevron-left"></i>
          </a>          
        </div>
        <h1 class="login-title">Nova Senha</h1>
      </div>
      <p class="subtitle">
        Informe abaixo uma nova senha para conseguir logar.
      </p>
    </div>

    <form [formGroup]="formNewPassword" (ngSubmit)="newPassBtnRequest()" class="input-section">
        <mat-form-field appearance="outline" class="pass-input">
          <mat-label>Digite sua nova senha</mat-label>
          <input [type]="hideFirstPass ? 'password' : 'text'" matInput formControlName="password" />
          <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideFirstPass  = !hideFirstPass "
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideFirstPass "
          class="outline-btn"
        >
          <mat-icon>{{ hideFirstPass  ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
          <mat-error *ngIf="formNewPassword.get('password')?.hasError('required')">
            Esse campo é obrigatório
          </mat-error>
          <mat-error *ngIf="formNewPassword.get('password')?.hasError('pattern')"
            >Preenchido de forma incorreta, tente novamente!</mat-error
          >
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="pass-input">
          <mat-label>Digite novamente sua nova senha</mat-label>
          <input [type]="hideSecondPass ? 'password' : 'text'" matInput formControlName="passConfirmation" />
          <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideSecondPass  = !hideSecondPass "
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideSecondPass "
          class="outline-btn"
        >
          <mat-icon>{{ hideSecondPass  ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
          <mat-error *ngIf="formNewPassword.get('passConfirmation')?.hasError('required')">
            Esse campo é obrigatório
          </mat-error>
          <mat-error *ngIf="formNewPassword.get('passConfirmation')?.hasError('pattern')"
            >Preenchido de forma incorreta, tente novamente!</mat-error
          >
        </mat-form-field>

        <div
        class="errors"
        *ngIf="
          formNewPassword?.get('password')?.touched ||
          formNewPassword?.get('password')?.dirty ||
          formNewPassword?.get('passConfirmation')?.touched ||
          formNewPassword?.get('passConfirmation')?.dirty
        "
      >
        <div
          [ngStyle]="{ 'color': formNewPassword.get('password')?.errors?.['passwordSizeError'] ? '#cf4115' : '#06b52b' }"
          class="ng-errors"
        >
          <img
            [src]="formNewPassword.get('password')?.errors?.['passwordSizeError'] ? '../../assets/images/whiteChecked.svg' : '../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          A senha deve conter, no mínimo, 8 caracteres;
        </div>

        <div
          [ngStyle]="{ 'color': formNewPassword.get('password')?.errors?.['upperCaseError'] ? '#cf4115' : '#06b52b' }"
          class="ng-errors"
        >
          <img
            [src]="formNewPassword.get('password')?.errors?.['upperCaseError'] ? '../../assets/images/whiteChecked.svg' : '../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          Deve ter pelo menos 1 letra maiúscula;
        </div>

        <div
          [ngStyle]="{ 'color': formNewPassword.get('password')?.errors?.['numbersError'] ? '#cf4115' : '#06b52b' }"
          class="ng-errors"
        >
          <img
            [src]="formNewPassword.get('password')?.errors?.['numbersError'] ? '../../assets/images/whiteChecked.svg' : '../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          Deve ter pelo menos 1 número;
        </div>

        <div
          [ngStyle]="{ 'color': formNewPassword.get('password')?.errors?.['specialLetterError'] ? '#cf4115' : '#06b52b' }"
          class="ng-errors"
        >
          <img
            [src]="formNewPassword.get('password')?.errors?.['specialLetterError'] ? '../../assets/images/whiteChecked.svg' : '../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          Deve ter pelo menos 1 caractere especial: !@#
        </div>

        <div
          [ngStyle]="{ color: formNewPassword.errors?.['passMissMatch'] ? '#cf4115' : '#06b52b' }"
          class="ng-errors"
        >
          <img
            [src]="formNewPassword.errors?.['passMissMatch'] ? '../../assets/images/whiteChecked.svg' : '../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          Ambos os campos devem conter senhas iguais!
        </div>
      </div>

      <div class="button-section">
        <button
          class="btn-enter"
          mat-flat-button
          color="primary"
          (click)="newPassBtnRequest()"
        >
          Enviar Nova Senha
        </button>
      </div>
    </form>
  </div>
</div>
